.ldsn-frame {
	width: 100%;
	overflow: hidden;
}
.ldsn-box {
	margin-left: -200px;
}

.ldsn-box.menu {
}

.ldsn-box.right {
}


.ldsn-main {
	position: relative;
    overflow: hidden;
	float: left;
}
.ldsn-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
}

.ldsn-content {
    margin-top: 40px;
    overflow: auto;
}

.ldsn-menu {
	width: 200px;
	background: #333333;
	z-index: 999;
	float: left;
}

.ldsn-right {
	width: 100px;
	background: #333333;
	z-index: 999;
	float: left;
}

.ldsn-main-frame {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 9999;
}

.ldsn-main-frame.dis {
	display: block;
}