.module-header {
	height: 45px;
	background: #3b5998;
}
.module-header .menu {
    float: left;
    line-height: 45px;
    font-size: 26px;
    margin-left: 10px;
    color: #FFFFFF;
}

.module-header .title {
    overflow: hidden;
    line-height: 45px; 
    font-size: 19px;
    margin-left: 10px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 10px;
}

.module-header .right-aside {
    float: right;
    line-height: 45px;
    font-size: 26px; 
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.module-header i.icon {
    margin: 0;
}