.article-box {
	z-index: 99;
	background-color: #fff;
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
}

.module-article .user-topic {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.module-article .article-info {
    overflow: hidden;
}

.module-article .article-info time {
    font-size: 14px;
    color: #777b84;
}

.module-article .item {
    overflow: hidden;
}

.module-article .article-from {
    font-size: 18px;
    line-height: 24px;
    color: #777b84;
}
.module-article .article-from em {
    font-weight: bold;
    color: #000000;
}

.module-article .item-list .item {
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
}

.module-article .item-header {
    overflow: hidden;
    margin: 10px 0 10px 0;
    padding: 0 10px 5px 10px;
    border-bottom: 1px solid #e9e9e9;
}

.module-article .user-topic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.module-article .article-title {
    font-size: 20px;
    margin: 10px;
}
.module-article .article-image {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.module-article .article-description {
    margin: 0 10px 0 10px;
    font-size: 16px;
    line-height: 20px;
    color: #777b84;
}

.module-article .article-handle-info i.icon {
    margin: 0;
    font-size: 23px;
    vertical-align: middle;
}

.module-article .article-handle-info>ul>li {
    float: left;
    margin-right: 10px;
}

.module-article .article-handle-info {
    overflow: hidden;
    margin: 10px;
    color: #9a9da3;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}
.module-article .article-handle i.icon {
    margin: 0;
    font-size: 20px;
    vertical-align: middle;
}

.module-article .article-handle {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #f3f3f3;
    border-top: 1px solid #CDCDCD;
    display: -webkit-box;
    color: #646669;
}

.module-article .article-handle .handle.active {
    color: #5890ff;
}
.module-article .article-handle .handle:active {
    color: #5890ff;
}

.module-article .article-handle .handle {
    position: relative;
    -webkit-box-flex: 1;
    text-align: center;
}

.module-article .article-handle .handle:after {
    border-right: 1px solid #d6d8db;
    bottom: 7px;
    content: '';
    right: 0;
    position: absolute;
    top: 7px;
}

.module-article .article-handle .handle:last-child:after {
    border-right: none;
}

.module-article .comment-topic {
    float: left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.module-article .article-comment {
    background: #f3f3f3;
    margin: 0 10px;
    padding: 10px 0 0 0;
    position: relative;
}

.module-article .article-comment:after {
    border-top: 1px solid #CDCDCD;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    content: '';
}

.module-article .comment-item {
    overflow: hidden;
    margin-bottom: 10px;
}

.module-article .article-footer {
    background: #f3f3f3;
    overflow: hidden;
}

.module-article .comment-detail {
    overflow: hidden;
}

.module-article .comment-time {
    font-size: 14px;
    vertical-align: middle;
    float: right;
}

.module-article .comment-content {
    font-size: 16px;
    line-height: 18px;
}

.module-article .coment-user-info {
    font-weight: bold;
    overflow: hidden;
}

.module-article .coment-info {
    display: block;
    margin-bottom: 3px;
}