.module-right-aside click span{
	display: block;
	font-size: 20px;
}
.module-right-aside click i {
	font-size: 40px;
	margin-right: 0px;
	margin-bottom: 5px;
}
.module-right-aside click{
	color: #C5C7CA;
	text-align: center;
	padding: 15px 0px;
	border-radius: 10px;
}
.module-right-aside click:hover{
	/*border-top: 1px dotted;
	border-bottom: 1px dotted;*/
	box-shadow: 1px 3px 1px -2px;
}
.module-right-aside{
	margin-top: 30px;
}