<html>
	<head>
		<meta Content-Type="text/html; charset=utf-8"/>
		<title>发表文章</title>
	</head>
	<body>
		<form action="/home/article/publish" method="post" >
		标题<input type="text" name="title" /><br/>
		描述<input type="text" name="description"/><br/>
		内容<input type="text" name="content"/><br/>
		图链<input type="text" name="href_pic"/><br/>
		来源<input type="text" name="source"/><br/>
		栏目<select name="column">
			<foreach name="clu_id" item="one">
			<option value="{$one.colu_id}">{$one.colu_name}</option>
			</foreach>
		</select><br/>
		<input type="submit" name="submit" value="submit" />
		</form>
	</body>
</html>