<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
　　<title>文章发布页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<form name="page" method="post" action="/wap/article/publish">
		题目<input name="title" type="text"  /><br/>
		描述<input name="description" type="text" /><br/>
		缩略图<input name="image" type="text" /><br/>
		文章来源<input name="from" type="text" /><br/>
		文章标签<input name="tag" type="text" /><br/>
		文章内容<input name="content" type="text" /><br/>
		<input type="submit" value="提交" name="submit" />
	</form>
</body>
</html>