<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <base href="<?php echo strip_tags($request_url); ?>" />
        <title><?php echo mb_convert_encoding($title, "HTML-ENTITIES", "UTF-8"); ?></title>
    </head>
    <body class="bg">

        <article class="article body"> 
            <h1><a title="back to original page"
                   href="<?php echo strip_tags($request_url); ?>"><?php 
                   echo mb_convert_encoding($title, 'HTML-ENTITIES', "UTF-8"); ?></a></h1>

            <?php echo $content; ?>

        </article>

               <div class="hidden">
    <script type="text/javascript"> 
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script> 
    <script type="text/javascript"> 
        try {
            var pageTracker = _gat._getTracker("UA-2634498-1");
            pageTracker._trackPageview();
        } catch(err) {}
    </script> 
</div>
    </body>
</html>
