/**
     * 文章发布css
     * @author yuxuan
     * @date 2015-02-08
     * @version 1.0.0
     */
.module-edit-article{
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
   }
