/**
     * 文章发布css
     * @author yuxuan
     * @date 2015-02-08
     * @version 1.0.0
     */
.module-edit-article{
	background-color: #fff;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	display: none;
   }
.ldsn-edit-article .edit-article{
	width: 90%;
	height: 100%;
	padding-top: 10%;
	margin:0 auto;
}
.ldsn-edit-article .textTitle{
	width: 100%
}
.ldsn-edit-article #editor{
	width: 95%;
	max-height: 50%;
	min-height: 25%;
	margin-top: 15px;
	border: 1px solid #A9A9A9;
	padding: 10px;
	overflow: auto;
}
.ldsn-edit-article p{
	margin:10px auto;
}
.ldsn-edit-article .buttons{
	margin: 25px 25%;
}
.ldsn-edit-article .photo{
	font-size: 22px;
	float: right;
}