/**
     * 菜单css
     * @author yuxuan
     * @date 2015-02-08
     * @version 1.0.0
     */
    .module-menu{
    	color: #C5C7CA;
    }
    .user-info{
    	padding: 20px 0;
    	margin: 0 10px;
	background-color: #333;
    	overflow: hidden;
    	border-bottom: 1px dotted #d1b9c1;
    	font-size: 12px;
}
    .user-topic{
    	border-radius: 50%;
    	width: 50px;
	float: left;
    }
    .user-info-text{
    	overflow: hidden;
    	line-height: 25px;
    	padding-left: 11px;
}
    .user-handle{
    }
    .user-name{
    }
    .menu-list{

    }
    .menu-list click{
    	display: block;
	margin: 20px auto;
	text-align: center;
	font-size: 16px;
	color: #C5C7CA;
    }